<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
		</head>
		<body>
			<nav>
				<ul>
					<li><div><a href="/">Home<div id="underline"></div></a></div></li>
					<li><div><a href="/about">About<div id="underline"></div></a></div></li>
					<li><div><a href="/contact">Contact<div id="underline"></div</a>></div></li>
					<li><div><a href="/film">Filmography<div id="underline"></div></a></div></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:cristianss_66@hotmail.com">email me</a></li>
					<li><a href="https://github.com/crisosie">github.com/crisosie</a></li>
					<li><a href="/extra">references</a></li>
				</ul>
			</footer>
		</body>
	</html>
