<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
		</head>
		<body>
			<nav>
				<ul>
					<li><div><a href="/">Home<div id="underline"></div></a></div></li>
					<li><div><a href="/about">About<div id="underline"></div></a></div></li>
					<li><div><a href="/contact">Contact<div id="underline"></div></a></div></li>
					<li><div><a href="/film">Filmography<div id="underline"></div></a></div></li>
					<li><div><a id="cv" href="/pdf/CristianSoler_CV.pdf" target="_blank">CV</a></div></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul class="footer_ul">
					<li class="footer_li"><a href="mailto:cristianss_66@hotmail.com"><img class="footer_img" src="/multimedia/icons/email.png" alt="email"></a></li>
					<li class="footer_li"><a href="https://github.com/crisosie"><img class="footer_img" src="/multimedia/icons/github-logo.png" alt="github"></a></li>
					<li class="footer_li"><a href="https://www.linkedin.com/in/cristian-soler-sierra-b68480173/"><img class="footer_img" src="/multimedia/icons/linkedin.png" alt="linkedin"></a></li>
					<li class="footer_li"><a href="/extra"><img class="footer_img" src="/multimedia/icons/arroba.png" alt="reference links"></a></li>
				</ul>
			</footer>
		</body>
	</html>
