<!DOCTYPE html>
	<html class="no-js">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='https://fonts.googleapis.com/css?family=Nunito Sans&display=swap' rel='stylesheet'>
			<script type="text/javascipt" src="/js/modernizr-custom.js"></script>
		</head>
		<body>
			<nav>
				<ul>
					<li><div><a href="/">Home<div id="underline"></div></a></div></li>
					<li><div><a href="/about">About<div id="underline"></div></a></div></li>
					<li><div><a href="/contact">Contact<div id="underline"></div></a></div></li>
					<li><div><a href="/film">Filmography<div id="underline"></div></a></div></li>
					<li><div><a id="cv" href="/pdf/CristianSoler_CV.pdf" target="_blank">CV</a></div></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul class="footer_ul">
					<li class="footer_li">
						<a href="mailto:cristianss_66@hotmail.com">
							<div id="footer_email" alt="email"></div>
						</a>
					</li>
					<li class="footer_li">
						<a href="https://github.com/crisosie">
							<div id="footer_github" alt="github"></div>
						</a>
					</li>
					<li class="footer_li">
						<a href="https://www.linkedin.com/in/cristian-soler-sierra-b68480173/">
							<div id="footer_linkedin" alt="linkedin"></div>
						</a>
					</li>
					<li class="footer_li">
						<a href="/extra">
							<div id="footer_ref_links" alt="reference links"></div>
						</a>
					</li>
				</ul>
			</footer>
		</body>
	</html>
